.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px 0;
  text-align: center;
  height:"80px"
}

.content {
  display: flex;
  justify-content: space-around;
}

.logos {
  display: flex;
  justify-content: center;
}

.logo:hover{
  cursor: pointer;
  color: #1976d2;
}

.logos > * {
  margin-right: 10px;
}
